@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap')

*
    font-family: "Poppins", sans-serif

#top-bar
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 200px
    background-color: rgba(0, 255, 0, .5)

    #container
        width: max-content
        height: max-content
        margin-left: auto
        margin-right: auto
        margin-top: 17.5px

    #info
        width: max-content
        height: max-content
        margin-left: auto
        margin-right: auto
        text-align: center
        margin-bottom: 22.5px

        #name
            font-size: 40px
            font-weight: bold
            color: #088DB6

        #title
            font-size: 20px
            color: #949494

    #contact
        display: flex
        flex-direction: row
        width: max-content
        margin-left: auto
        margin-right: auto

        .contact-sub
            padding: 0 20px 0 20px
            text-align: center
            color: #949494
            font-size: 17.5px
            transition: .2s all

            i
                color: #088DB6

        a
            text-decoration: none
